.button {
  width: 100%;
  padding: 10px 15px;
  border-radius: $radius-xxs;
  color: $white;
  background-color: $purple;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.4;

  &:hover {
    background-color: $purple-100;
  }

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}
